<div class="form-group">
  <label for="name_budget">Nom du budget</label>
  <input type="text" class="form-control" name="name_budget" id="name_budget" placeholder="Nom du budget"
         data-ng-model="budget.name">
</div>
<div class="form-group">
  <label for="amount">Montant du budget</label>
  <input type="number" class="form-control" value="1000" min="0" name="amount" id="amount" step="1"
         data-number-to-fixed="2" data-number-stepfactor="100" placeholder="Montant du budget" data-ng-model="budget.amount" />
</div>
<div class="form-group">
  <label for="date_deb">Date de début</label>
  <input type="date" class="form-control" name="date_deb" id="date_deb" data-ng-model="budget.date_deb">
</div>
<div class="form-group">
  <label for="date_end">Date de fin</label>
  <input type="date" class="form-control" name="date_end" id="date_end" data-ng-model="budget.date_end">
</div>
<div class="checkbox" ng-if="action == 'edit'">
  <label><input type="checkbox" name="is_closure" id="is_closure" data-ng-model="budget.isClosure">Cloturé</label>
</div>
<!--<div ng-init="goal_objective()" >
  <div class="row">
    <div class="col-md-12">
      <h3>Objectif par catégorie</h3>
      <table class="table table-striped" style="background: white;">
        <thread>
          <tr>
            <td>Catégorie</td>
            <td>Objectif</td>
            <td></td>
          </tr>
        </thread>
        <tbody>
        <tr class="info">
          <td>test</td>
          <td>10</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h4>Ajouter un objectif</h4>-->
<!--  <div class="row">
    <form name="addCategory" class="form" data-ng-submit="objectif()">
      <div class="form-group">
        <div class="col-md-5">
          <select name="category" id="category" class="form-control" ng-model="category">
            <option value="">Selectionner une catégorie</option>
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.nameCategory}}</option>
          </select>
        </div>
        <div class="col-md-5">
          <input required type="number" class="form-control" min="0" name="amount" id="target_amount"  step="1"
                 data-number-to-fixed="2" data-number-stepfactor="100" placeholder="Objectif en €" />
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
      </div>
    </form>
  </div>-->
<!--</div>-->
<br />

<input type="hidden" class="form-control" name="id_account" id="id_account" ng-value="id"/>

