<div ng-init="show()">
  <div class="container-fluid">
    <h1 class="text-center">{{budget.name}}</h1>
    <br/>
    <div class="row">
      <div class="col-md-3">
        <div style="background: white;" class="col-md-10 col-md-offset-1">
          <h1 class="text-center">Statut</h1>
          <hr>
          <h2 class="text-center" style="color: orange">{{budget.amount}} € / {{budget.target_amount}} €</h2>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{get_status(budget.amount, budget.target_amount)}}"
                 aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( get_status(budget.amount, budget.target_amount) + '%' ) }">
              <span>{{get_status(budget.amount, budget.target_amount) }} %</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" style="background: white;" ng-controller="HighchartsbudgetCtrl">
        <div id="containerChart" style="height: 400px; margin: 0 auto"></div>
      </div>

      <div class="col-md-3">
        <div style="background: white;" class="col-md-11 col-md-offset-1">
          <h1 class="text-center">Objectifs</h1>
          <hr>
          <div ng-repeat="goal in goals_categories">
            <h3 class="text-center"><b>{{goal.nameCategory}}</b> - <i>{{goal.targetAmountCateg}} €</i>
              <a ng-hide="goal.nameCategory == 'Autre catégorie'"href="/#/account/{{id}}/budget/{{budget_id}}/goal_category/{{goal.id}}/edit"><small><span class="glyphicon glyphicon-pencil"></span></small></a>
            </h3>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{getPercentage(goal.amountCateg, goal.targetAmountCateg)}}"
                   aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( getPercentage(goal.amountCateg, goal.targetAmountCateg) + '%' ) }">
                <span>{{goal.amountCateg}} €</span>
              </div>
            </div>
            <hr>
          </div>
          <div class="form-group" ng-show="goals_categories.length == 0">
            <h3 class="text-center">Aucun objectif n'a été définie </h3>
            <hr>
          </div>
          <div class="form-group" ng-show="number_category > 0">
            <a href="/#/account/{{id}}/budget/{{budget_id}}/goal_category/new"><button type="button" class="btn btn-success">Ajouter les objectifs</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-init="show_purchases()">
      <div style="background: white; margin-top: 40px;" class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Achats récents</h1>
        <hr>
          <div ng-repeat="purchase in purchases | limitTo: 5" class="boxPurchase">
            <a href="/#/account/{{id}}/budget/{{budget_id}}/purchase/{{purchase.id}}/edit">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="row">
                    <h3 class="pull-left">{{purchase.namePurchase}} - <i>{{get_name_goal(purchase.goalCategoryId)}}</i></h3>
                    <b><h3 class="pull-right">{{purchase.amountPurchase}} €</h3></b>
                  </div>
                  <div class="row">
                    <i class="pull-left">{{purchase.nameSeller}}</i>
                    <i class="pull-right">{{purchase.date_purchase | date:'dd/MM/yyyy'}}</i>
                  </div>
                </div>
              </div>
            </a>
            <hr>
          </div>

        <div class="form-group">
          <div class="col-md-4 col-sm-4">
            <a href="/#/account/{{id}}/budget/{{budget_id}}/purchase/new"> <button class="btn btn-primary">Ajouter des achats</button></a>
          </div>
          <div class="col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1">
            <a href="/#/account/{{id}}/budget/{{budget_id}}/purchases/show"> <button class="btn btn-success">Voir tous les achats</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
