<div class="form-group">
  <label for="name_project">Nom du projet</label>
  <input type="text" class="form-control" name="name_project" id="name_project" placeholder="Nom du projet"
         data-ng-model="project.name">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <input type="text" class="form-control" name="description" id="description" placeholder="Description du projet"
         data-ng-model="project.description">
</div>
<div class="form-group">
  <label for="target_amount">Objectif du projet</label>
  <input type="number" class="form-control" value="1000" min="0" name="target_amount" id="target_amount" step="1"
         data-number-to-fixed="2" data-number-stepfactor="100" placeholder="Montant du budget" data-ng-model="project.target_amount" />
</div>
<div class="form-group">
  <label for="date_deb">Date de début</label>
  <input type="date" class="form-control" name="date_deb" id="date_deb" data-ng-model="project.date_deb">
</div>
<div class="checkbox">
  <label>
    <input type="checkbox"ng-model="checked"  ng-init="checked=false"> Définir une date de fin
  </label>
</div>
<span ng-if="checked">
  <div class="form-group">
    <label for="date_end">Date de fin</label>
    <input type="date" class="form-control" name="date_end" id="date_end" data-ng-model="project.date_end">
  </div>
</span>
