<div class="container-fluid" ng-init="init_create()">
  <div class="col-md-4">
    <div style="background: white" class="col-md-10 col-md-offset-1">
    <h2 class="text-center">Les achats ajoutés</h2>
      <hr>
      <table class="table table-striped">
        <thread>
          <tr>
            <th>Nom de l'achat</th>
            <th>Montant</th>
            <th>Vendeur</th>
            <th>Catégorie</th>
            <th></th>
          </tr>
        </thread>
        <tbody>
        <tr ng-repeat="purchase in purchases">
          <td>{{purchase.namePurchase}}</td>
          <td>{{purchase.amountPurchase}}</td>
          <td>{{purchase.nameSeller}}</td>
          <td>{{ get_name_goal(purchase.goalCategoryId) }}</td>
          <td><a href="" ng-click="delete($event)" data-id="{{purchase.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
        </tbody>
      </table>
      <br/>
    </div>
  </div>
  <div class="col-md-5">
    <div style="background: white;" class="col-md-11">
      <h1 class="text-center">Nouveaux achats</h1>
      <hr>
      <div style="background: white;" class="col-md-10 col-md-offset-1">
        <form name="registerForm" data-ng-submit="create_purchase()">

          <div ng-include src="'views/purchase/form.html'"></div>

          <button type="submit" class="btn btn-success">Ajouter l'achat</button>
        </form>
        <br/>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div style="background: white" class="col-md-10">
      <h1 class="text-center">budget: <b>{{budget.amount}} €</b> </h1>
      <hr>
      <div ng-repeat="goal in goals_categories">
        <h3 class="text-center"><b>{{goal.nameCategory}}</b> - <i>{{goal.targetAmountCateg}} €</i>
        </h3>
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{getPercentage(goal.amountCateg, goal.targetAmountCateg)}}"
               aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( getPercentage(goal.amountCateg, goal.targetAmountCateg) + '%' ) }">
            <span>{{goal.amountCateg}} €</span>
          </div>
        </div>
        <hr>
      </div>
      <div class="form-group ">
        <a href="/#/account/{{account_id}}/budget/{{budget_id}}"><button type="button" class="btn btn-primary">Terminer l'enregistrement des achats</button></a>
      </div>
    </div>
  </div>
</div>
