<div class="container" style="background: white;">
  <div ng-init="show_purchases()">
    <h1 class="text-center">Dépenses effectués</h1>
    <br/>
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <h3>Nombre des dépenses :{{purchases.length}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-md-3 col-md-offset-1">
          <select class="form-control" ng-model="goal_id">
            <option value="">Filtrer par catégorie</option>
            <option ng-repeat="goal in goals_categories" value="{{goal.id}}">{{goal.nameCategory}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-model="order_price" ng-change="sort('amountPurchase' ,order_price)">
            <option value="">Filtrer par prix</option>
            <option value="false">Prix par ordre croissant</option>
            <option value="true">Prix par ordre décroissant</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr>
        <div class="boxPurchase" ng-repeat="purchase in purchases | filter: {goalCategoryId: goal_id} | orderBy: '+date_purchase' | orderBy: propertyName:reversePurchase">
          <a href="/#/account/{{id}}/budget/{{budget_id}}/purchase/{{purchase.id}}/edit">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <h3 class="pull-left">{{purchase.namePurchase}} - <i>{{get_name_goal(purchase.goalCategoryId)}}</i></h3>
                  <b><h3 class="pull-right">{{purchase.amountPurchase}} €</h3></b>
                </div>
                <div class="row">
                  <i class="pull-left">{{purchase.nameSeller}}</i>
                  <i class="pull-right">{{purchase.date_purchase | date:'dd/MM/yyyy'}}</i>
                </div>
              </div>
            </div>
          </a>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-5">
      <a href="/#/account/{{account_id}}/budget/{{budget_id}}/"> <button class="btn btn-primary">Retour vers le budget</button></a>
    </div>
  </div>
</div>
