<div class="form-group">
  <label for="name_account">Nom du portefeuille</label>
  <input type="text" class="form-control" name="name_account" id="name_account" placeholder="Nom du portefeuille" data-ng-model="account.nameAccount">
</div>
<div class="form-group">
  <label for="Description">Description</label>
  <input type="text" class="form-control" name="description" id="description" placeholder="Description" data-ng-model="account.description">
</div>
<div class="form-group">
  <label for="amount">Montant</label>
  <input type="number" class="form-control" value="1000" min="0" name="amount" id="amount" step="1"
         data-number-to-fixed="2" data-number-stepfactor="100" placeholder="Montant" data-ng-model="account.amount" />
</div>
<div class="form-group">
  <label for="name_bank">Nom de la banque</label>
  <input type="text" class="form-control" name="name_bank" id="name_bank" placeholder="Nom de la banque" data-ng-model="account.nameBank">
</div>
<input type="hidden" class="form-control" name="id" id="id" placeholder="id" data-ng-model="account.id">

