<div class="form-group">
  <label for="nameAccount">Nom du portefeuille</label>
  <input type="text" class="form-control" name="nameAccount" id="nameAccount" placeholder="Nom du portefeuille" ng-model="account.nameAccount">
</div>
<div class="form-group">
  <label for="Description">Description</label>
  <input type="text" class="form-control" name="description" id="description" placeholder="Description" ng-model="account.description">
</div>
<div class="form-group">
  <label for="amount">Montant</label>
  <input type="text" class="form-control" name="amount" id="amount" placeholder="Montant" ng-model="account.amount">
</div>
<div class="form-group">
  <label for="nameBank">Nom de la banque</label>
  <input type="text" class="form-control" name="nameBank" id="nameBank" placeholder="Nom de la banque" ng-model="account.nameBank">
</div>

